<div class="header-wrapper">
  <div class="header">
    <div class="header-logo">
        <div class="header-logo-image">
            <img ngSrc="/assets/images/FunkyBloomLogo.png" alt="logo" width="312" height="310">
        </div>
        <div class="header-logo-text">
          Funky Bloom
        </div>
    </div>
    <div class="header-nav">
      <app-button [title]="'Sign in'" color="button-border-1" (click)="onClickShowLoginWindow()"/>
      <app-button [title]="'Register'" color="button-border-2" (click)="onClickShowRegisterWindow()" />
    </div>
  </div>
</div>
