<div class="header-wrapper">
  <div class="header">
    <div class="header-logo">
        <div class="header-logo-image">
            <img src="assets/images/FunkyBloomLogo.png" alt="logo">
        </div>
        <div class="header-logo-text">
          Funky Bloom
        </div>
    </div>
    <div class="header-nav">
      <app-button [title]="'Sign in'" color="button-border-1"></app-button>
      <app-button [title]="'Register'" color="button-border-2"></app-button>
    </div>
  </div>
</div>
