$primary-color: #BFEB65;
$secondary-color: #B3EBBA;
$tertiary-color: #65EBD2;


$background-color: #1A1A1A;
$text-color: #FFFFFF;

$standby-colors: #65EBA4, #65EB77,
 #87EB65, #BFEB65, #65EBD2, #B3EBBA;
