<div>
  <h1>Home</h1>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Ut hendrerit, sem ut pellentesque placerat, mi sem porttitor felis, quis pretium eros elit quis nisi.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
      Nunc eget nisl nec odio suscipit aliquam eget id lacus. Sed lorem mi,
      commodo eget cursus nec, hendrerit quis odio. Vivamus iaculis convallis massa tincidunt ornare.
      Mauris semper dignissim mauris ut mattis. Mauris sem elit, tempor quis diam quis, volutpat aliquam metus.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla metus dolor,
      venenatis quis posuere et, lobortis eu nunc.

      Donec metus turpis, elementum sed suscipit sit amet, tempor sit amet orci.
      Cras quam magna, dignissim sit amet ipsum non, viverra commodo ligula.
      Proin eget pellentesque sapien. Aenean varius orci magna. Donec maximus malesuada nulla, a sagittis lorem pulvinar at.
      Donec sapien urna, elementum at felis sed, vestibulum fermentum dolor.
      Nam arcu mi, condimentum eget auctor sit amet, blandit eu justo. Aliquam est quam, sollicitudin eget malesuada at,
      condimentum nec tortor. Nam nisi turpis, suscipit sed hendrerit ut, condimentum vel odio. Fusce accumsan pulvinar ornare.
      Nam lobortis euismod lectus sit amet bibendum. In accumsan consectetur varius. In erat tortor, rhoncus id tellus at,
      accumsan porttitor ex. </p>
  <app-button [title] = "'Register'"></app-button>
</div>
