<div class="header-wrapper">
  <div class="header">
    <div class="header-logo" (click)="onClickGallery()">
        <div class="header-logo-image">
            <img ngSrc="/assets/images/FunkyBloomLogo.png" alt="logo" width="312" height="310">
        </div>
        <div class="header-logo-text">
          Funky Bloom
        </div>
    </div>
    <div class="header-nav">
      <app-button [title]="'Logout'" color="button-border-1" (click)="onClickLogout()"/>
      <div class="header-user-icon" (click)="onClickUserProfile()">
        <img src="/assets/images/user_icon.png" alt="user_icon">
        <span>{{username}}</span>
      </div>

    </div>

  </div>
</div>
