@use '../../../../../public/styles/abstracts' as *;

.header-wrapper{
    display: flex;
    max-width: 100%;
    min-width: fit-content;
    justify-content: space-between;
    align-items: center;
    min-height: 4em;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    padding: 0 2em;

    .header-nav{
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 2em;
      width: 100%;

      .header-user-icon{
        height: 2.5em;
        width: auto;
        cursor: pointer;

        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

    }

    .header-logo{
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 1em;
      width: min-width;
      cursor: pointer;

      .header-logo-image{
        width: 3em;
        height: 3em;

        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .header-logo-text{
        font-family: 'Geraldine', sans-serif;
        color: $secondary-text-color;
        font-size: 2.5em;
        white-space: nowrap;
      }
    }
}


