:host{
    width: clamp(10em, 15%, 20em);
    height: 5em;
    display: block;
    margin: 1em;
}

.category-wrapper{
    width: 100%;
    height: 100%;


    .category{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
    }
}
