<div class="register-window-wrapper">
  <div class="register-window">
    <div class="register-window-header">
      <div class="register-image">
        <img src="/assets/images/FunkyBloomLogo.png" alt="logo" width="1" height="1">
      </div>
      <div class="register-heading">
        <h1>Become part of Funky Bloom</h1>
      </div>
      <div class="register-close" (click)="onClickHideRegisterWindow()">
        <img src="/assets/images/close-button-x-icon.png" alt="close" width="1" height="1">
      </div>
    </div>
    <div class="register-form">
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
        <div class="register-form-label">
          <label for="registerUsername">Username:</label>
          <input
            id="registerUsername"
            type="text"
            formControlName="registerUsername"
            [ngClass]="{
              'invalid-input': registerForm.get('registerUsername')?.invalid && registerForm.get('registerUsername')?.touched,
              'invalid-input-shake': invalidInputShake && registerForm.get('registerUsername')?.invalid
            }">
        </div>
        <div class="register-form-label">
          <label for="registerEmail">Email:</label>
          <input
            id="registerEmail"
            type="email"
            formControlName="registerEmail"
            [ngClass]="{
              'invalid-input': registerForm.get('registerEmail')?.invalid && registerForm.get('registerEmail')?.touched,
              'invalid-input-shake': invalidInputShake && registerForm.get('registerEmail')?.invalid
            }">
        </div>
        <div class="register-form-label">
          <label for="registerPassword">Password:</label>
          <input
            id="registerPassword"
            type="password"
            formControlName="registerPassword"
            [ngClass]="{
              'invalid-input': registerForm.get('registerPassword')?.invalid && registerForm.get('registerPassword')?.touched,
              'invalid-input-shake': invalidInputShake && registerForm.get('registerPassword')?.invalid
            }">
        </div>
        <div class="register-form-label">
          <label for="registerConfirmPassword">Confirm password:</label>
          <input
            id="registerConfirmPassword"
            type="password"
            formControlName="registerConfirmPassword"
            [ngClass]="{
              'invalid-input': registerForm.get('registerConfirmPassword')?.invalid && registerForm.get('registerConfirmPassword')?.touched,
              'invalid-input-shake': invalidInputShake && registerForm.get('registerConfirmPassword')?.invalid
            }">
        </div>
        <div *ngIf="errorMessages.length > 0" class="register-form-error">
          <div *ngFor="let error of errorMessages">{{ error }}</div>
        </div>
        <div class="register-form-button">
          <app-button [title]="'Submit'" color="button-border-2" type="submit" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="register-window-background" (click)="onClickHideRegisterWindow()"></div>

