<app-main-header></app-main-header>
<div class="edit-user-profile">
  <h2>Edit Your Profile</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <!-- Username Field -->
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        id="username"
        type="text"
        formControlName="username"
        [ngClass]="{
          'invalid-input': editForm.get('username')?.invalid && editForm.get('username')?.touched,
          'invalid-input-shake': invalidInputShake && editForm.get('username')?.invalid
        }">
    </div>

    <!-- Email Field -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        [ngClass]="{
          'invalid-input': editForm.get('email')?.invalid && editForm.get('email')?.touched,
          'invalid-input-shake': invalidInputShake && editForm.get('email')?.invalid
        }">
    </div>

    <!-- Current Password Field -->
    <div class="form-group">
      <label for="currentPassword">Current Password:</label>
      <input
        id="currentPassword"
        type="password"
        formControlName="current_password"
        [ngClass]="{
          'invalid-input': editForm.get('current_password')?.invalid && editForm.get('current_password')?.touched,
          'invalid-input-shake': invalidInputShake && editForm.get('current_password')?.invalid
        }">
    </div>

    <!-- New Password Field -->
    <div class="form-group">
      <label for="password">New Password:</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{
          'invalid-input': editForm.get('password')?.invalid && editForm.get('password')?.touched,
          'invalid-input-shake': invalidInputShake && editForm.get('password')?.invalid
        }">
    </div>



    <!-- Confirm New Password Field -->
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password:</label>
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        [ngClass]="{
          'invalid-input': editForm.get('confirmPassword')?.invalid && editForm.get('confirmPassword')?.touched,
          'invalid-input-shake': invalidInputShake && editForm.get('confirmPassword')?.invalid
        }">
      <div
        *ngIf="editForm.errors?.['notMatching'] && submitted"
        class="error">
        Passwords do not match.
      </div>
    </div>

    <!-- Error Messages -->
    <div *ngIf="errorMessages.length > 0" class="form-errors">
      <div *ngFor="let error of errorMessages">{{ error }}</div>
    </div>

    <!-- Success Message -->
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <!-- Submit Button -->
    <div class="form-button">
      <app-button
        [title]="'Update Profile'"
        color="button-border-2"
        type="submit">
      </app-button>
    </div>
  </form>
</div>
