<div class="register-window-wrapper">
  <div class="register-window">
    <div class="register-window-header">
      <div class="register-image">
        <img src="/assets/images/FunkyBloomLogo.png" alt="logo" width="1" height="1">
      </div>
      <div class="register-close" (click)="onClickHideRegisterWindow()">
        <img src="/assets/images/close-button-x-icon.png" alt="close" width="1" height="1">
      </div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>
<div class="register-window-background" (click)="onClickHideRegisterWindow()"></div>

