<div
  class="gallery"
  infiniteScroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
  <div class="image-container" *ngFor="let artwork of artworks">
    <img
      [appLazyLoadImage]="artwork.url"
      alt="{{ artwork.title }}"
      class="gallery-image"
      (click)="showFullscreen(artwork.url)"
    />
    <div class="title">{{ artwork.title }}</div>
  </div>
  <div class="loading" *ngIf="loading">
    Loading more artworks...
  </div>
  <div class="end-message" *ngIf="allLoaded">
    You have reached the end.
  </div>
</div>

<div
  class="fullscreen-overlay"
  *ngIf="selectedImageUrl"
  (click)="hideFullscreen()"
>
  <div class="fullscreen-image" (click)="$event.stopPropagation()">
    <img [src]="selectedImageUrl" alt="Fullscreen artwork" />
    <button class="close-button" (click)="hideFullscreen()">&times;</button>
  </div>
</div>
