@use "sass:math";
@use "../../../../../../public/styles/abstracts/" as *;

// host element
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 25em;
  width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;

    .carousel-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 14.285%;
      height: 65%;

      // blur effect
      &::after {
        z-index: 2000;
        box-shadow: inset 0px 0px 10px 10px $background-color;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
      }

    }

    // translaging the carousel items
    @for $i from 1 through 7 {
      @if $i < 5 {
        .carousel-item:nth-child(#{$i}) {
          //transform: translateX(-10em + $i * 10em) translateY(($i * 1em) - 1em);
          transform: translateX(($i - 1) * 100%) translateY(($i - 1) * 15%);
        }
      } @else {
        .carousel-item:nth-child(#{$i}) {
          //transform: translateX(-10em + $i * 10em) translateY((($i * 1em) - 1em) - (($i - 4) * 2em));
          transform: translateX(($i - 1) * 100%) translateY((($i - 1) * 15%) - (($i - 4) * 30%));
        }
      }
    }

    @for $i from 1 through 7 {
      @if $i < 5 {
        .carousel-item:nth-child(#{$i+7}) {
          //transform: translateX(-10em + $i * 10em) translateY(($i * 1em) - 1em);
          transform: translateX(($i - 1) * 100%) translateY(($i - 1) * 15%);
        }
      } @else {
        .carousel-item:nth-child(#{$i+7}) {
          //transform: translateX(-10em + $i * 10em) translateY((($i * 1em) - 1em) - (($i - 4) * 2em));
          transform: translateX(($i - 1) * 100%) translateY((($i - 1) * 15%) - (($i - 4) * 30%));;
        }
      }
    }
}


